#grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.emoji {
  display: grid;
  grid-template-rows: auto 30px;
  background: white;
  border-radius: 10px;
  text-align: -webkit-center;
}

.name {
  width: 100%;
  height: auto;
  border-top: black dotted 1px;
  text-align: center;
  padding: 5px;
}

.fa {
  border: none;
  float: right;
  background-color: white;
}

.fa:hover {
  background-color: grey;
}
